body {
  color: aquamarine;
  background-color: rgb(68, 63, 63);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 1000px;
}
:root {
  --primaerfarbe: rgb(41, 141, 116);
}
h1,
h2 {
  background-color: rgb(68, 63, 63);
  color: rgb(41, 141, 116);
}

.navigation {
  font-weight: bold;
  font-size: large;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.navigation a {
  color: var(--primaerfarbe);
}
a {
  border-bottom: 2px solid transparent;
}

.button {
  font-size: small;
  background-color: cyan;
  color: black;
  text-decoration: none;
  padding: 4px 6px;
  border-radius: 30px;
}

.textBildContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
img {
  border: 2px solid var(--primaerfarbe);
  border-radius: 50%;
  max-width: 250px;
  height: 100%;
}
h1 {
  display: flex;
  flex-direction: row;
  padding: 11px;
}
.navigation a:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--primaerfarbe);
}
html {
  scroll-behavior: smooth;
}
